/*WORDPRESS CONTACT FORM*/
.wpcf7-form { 
  margin-bottom:10px; 
  border-radius:2px;
}
 
.wpcf7-form input { 
  background:#fff; 
  padding:5px 7px; 
  margin-bottom:8px; 
  border-radius:3px;
  width: 100%;
  color: #444242;
}
 
.wpcf7-text {
  width: 100%;
  color: #444242;
}

.wpcf7-form textarea { 
  background:#fff; 
  padding:3px 0px 5px 7px; 
  border-radius:3px;
  width: 400px;
  color: #444242;
  float: top;
}
 
.wpcf7-form p { 
  color:#000; 
  margin-top:10px;
  padding-top: 10px;
}